<div ng-controller="adminController" id="body_todo">
  <div class= 'col-xs-4 col-xs-offset-4  ' >
    <div id='admin'>
      <div id='regalo' class='divs col-xs-4 col-md-2'>
          <button id='user_bt' type="button" class="btn btn-default" aria-label="Left Align" ng-click="goregalo()">Regalos</button>
      </div>
      <div id='tabla1' class='divs col-xs-4 col-md-2'>
          <button id='user_bt' type="button" class="btn btn-success" aria-label="Left Align" ng-click = "gottabla1()">tabla1</button>
      </div>
      <div id='Usuarios'class='divs col-xs-4 col-md-2'>
          <button id='user_bt' type="button" class="btn btn-primary" aria-label="Left Align" ng-click="gousuario()" >Usuarios</button>
      </div>
      <div id='tabala2' class='divs col-xs-4 col-md-2'>
          <button id='user_bt' type="button" class="btn btn-info" aria-label="Left Align" ng-click="gotabla2()" >tabla2</button>
      </div>

    </div>
  </div>
</div>
